html,
page,
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  /* line-height: 0.5em; */
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
}
body,
form,
input,
select,
option {
  font-size: 1vw;
}
form,
input,
select,
option {
  font-size: 5vw;
}
input {
  margin: 0.1em;
}
input[type=button], input[type=submit], input[type=reset] {
    font-size: 2.5vw;
}
table {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black;
}
table #header {
  font-size: 3vw;
  text-align: center;
}
table #header a {
  display: inline-block;
  width: 100%;
  text-align: center !important;
}
table #content {
  font-size: 10vw;
}
table #footer {
}
#firstname, #f_firstname {
  font-size: 70%;
  font-weight: light;
  text-align: center;
  /* line-height: 1em; */
}
#lastname, #f_lastname {
  font-weight: bold;
  text-align: center;
}
#nickname, #f_nickname {
  font-size: 50%;
  text-align: center;
  /* line-height: 1em; */
}
#debug {
  font-size: 12pt;
  /* line-height: 12pt; */
  text-align: left;
  font-weight: normal;
  margin: 0;
}
