body,
#header,
#name {
  text-align: center;
  font-size: 10vw;
}
#header,
#footer {
  height: 0px;
}

#firstname {
  font-size: 70%;
  font-weight: light;
  /* line-height: 1em; */
}
#lastname {
  font-weight: bold;
}
#nickname {
  font-size: 50%;
  /* line-height: 1em; */
}
