body,
#header,
#name {
  text-align: center;
  font-size: 100pt;
}
#header,
#footer {
  height: 0px;
}

#firstname {
  font-size: 70%;
  font-weight: light;
  line-height: 100%;
}
#lastname {
  font-weight: bold;
}
#nickname {
  font-size: 50%;
  line-height: 100%;
}
